@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}
* body header.sticky {
  background: #fff;
  padding: 7px 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
* body a {
  text-decoration: none;
}
* body section {
  padding: 70px 100px;
}
* body section .button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
* body section .button .btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(221, 162, 255);
  border-radius: 5px;
  transition: 0.4s;
}
* body section .button .btn a {
  color: white;
  font-size: 15px;
}
* body section .button .btn:hover {
  background-color: rgb(200, 135, 235);
}
* body section .button .btn:active {
  transform: scale(0.94);
}
* body section .headings {
  text-align: center;
  transition: 0.4s;
}
* body section .headings:hover {
  text-shadow: 0 0 20px white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
header img {
  width: 70px;
  transition: 0.4s;
}
header img:hover {
  transform: scale(1.1);
}
header ul {
  display: flex;
  position: relative;
}
header ul li {
  position: relative;
  list-style: none;
  transition: 0.4s;
}
header ul li a {
  color: black;
  padding: 10px 35px;
  position: block;
  font-size: 0.9em;
  transition: 0.4s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
header ul li a:hover {
  color: rgb(236, 38, 87);
}
header ul li:hover {
  transform: scale(1.1);
}

#home {
  height: 100vh;
}
#home .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#home .container .image {
  display: flex;
  justify-content: center;
}
#home .container .image img {
  width: 50%;
  transition: 0.4s;
}
#home .container .text p {
  text-align: center;
  padding: 0 50px;
  transition: ease 0.4s;
}

#description {
  background-color: rgb(221, 162, 255);
}
#description .block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#description .block .img {
  display: flex;
  justify-content: center;
  min-width: 50%;
}
#description .block .img img {
  border-radius: 3em;
  max-width: 100%;
  transition: 0.3s;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
}
#description .block .img img:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transform: scale(1.01);
}
#description .block .text {
  padding-right: 2em;
  flex-direction: column;
  text-align: center;
}
#description .quickdesc {
  text-align: center;
  margin-top: 50px;
}
#description .boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
#description .boxes .box {
  background-color: rgb(230, 181, 253);
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  transition: 0.4s;
}
#description .boxes .box:hover {
  background-color: rgb(198, 155, 218);
}
#description .boxes .box .bx {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 2em;
}
#description .boxes .box p {
  text-align: center;
  padding: 20px 30px;
}
#description .btn {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

footer {
  background-color: rgb(203, 142, 238);
  position: relative;
  padding: 50px 60px;
}
footer .container {
  display: flex;
}
footer .container .footer-sec {
  flex: 1;
}
footer .container .quicklinks .intro {
  padding: 20px;
  text-align: center;
}
footer .container .quicklinks .intro a {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px;
}
footer .container .quicklinks .links {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container .quicklinks .links li {
  list-style: none;
  margin-top: 10px;
}
footer .container .quicklinks .links li a {
  color: black;
  transition: 0.4s;
}
footer .container .quicklinks .links li a:hover {
  color: #fff;
}
footer .container .reach-out {
  padding: 20px;
}
footer .container .reach-out .subscribe {
  margin-top: 70px;
}
footer .container .reach-out .subscribe .signup h3 {
  font-weight: 600;
}
footer .container .reach-out .subscribe .signup form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 10px 0;
}
footer .container .reach-out .subscribe .signup form input {
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
}
footer .container .reach-out .subscribe .signup form button {
  position: absolute;
  bottom: 3px;
  right: 2px;
  z-index: 2;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  background-color: rgb(230, 181, 253);
  transition: 0.4s;
}
footer .container .reach-out .subscribe .signup form button:hover {
  background-color: rgb(200, 135, 235);
}
footer .container .reach-out .subscribe .signup form button:active {
  transform: scale(0.94);
}
footer .container .reach-out .socials {
  text-align: center;
  margin-top: 15px;
}
footer .container .reach-out .socials .bx {
  color: white;
  font-size: 2em;
  margin: 0 10px;
  transition: 0.4s;
  cursor: pointer;
}
footer .container .reach-out .socials .bx:hover {
  transform: scale(1.1);
}
footer .container .reach-out .socials .bx:active {
  transform: scale(0.98);
}

.copyright {
  background-color: rgb(203, 142, 238);
  padding: 6px;
  line-height: 17px;
  padding: 20px 50px;
}
.copyright .privacy a {
  color: black;
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 995px) {
  body header.sticky {
    padding: 5px 15px;
  }
  header {
    padding: 10px 20px;
  }
  header .navbar {
    position: fixed;
    top: 84.78px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: block;
    z-index: 10;
    border-top: 1px solid black;
    text-align: center;
    transition: 0.4s;
  }
  header .navbar a {
    font-size: 17px;
    display: block;
    padding: 30px;
    transition: 0.4s;
  }
  header .navbar a:hover {
    background-color: black;
  }
  header .navbar.active {
    right: 0;
  }
  header .toggle {
    width: 40px;
    height: 40px;
    background: url("images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.2s;
    filter: invert(1);
  }
  header .toggle.active {
    background: url("images/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    filter: invert(1);
  }
  #home .container .image img {
    width: 90%;
  }
  #description .block {
    flex-direction: column;
  }
  #description .block .text {
    padding-right: 0;
  }
  #description .block .text.img {
    margin-bottom: 30px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .footer-sec {
    margin: 20px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 670px) {
  body section {
    padding: 70px 30px;
  }
  body section .headings h2 {
    font-size: 1.4em;
  }
  #home .container .image img {
    width: 100%;
  }
  #description .block {
    margin-top: 20px;
  }
  footer {
    padding: 50px 20px;
  }
  footer .container .footer-sec {
    margin: 20px 0;
  }
  footer .container .reach-out .subscribe .signup form button {
    padding: 5px 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
