* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    .marg {
        margin-bottom: 20px;
        .ms-colon, .millisecond {
            color:rgb(182, 156, 87);
        }
    }
    span {
        font-size: 2rem;
    }
    .buttons {
        font-size: 0;
        button {
            width: 150px;
            height: 40px;
            background: transparent;
            color: white;
            border: 2px solid rgba(255, 255,255, .4);
            border-radius: 2px;
            transition: .4s;
            font-size: 1.2rem;
            &:first-child, &:nth-child(2) {
                border-top: none;
                border-bottom: none;
                border-left: none;
            }
            &:nth-child(3) {
                border: none;
            }
            &:hover {
                background-color: rgba(255, 255,255, .2);
            }
            &.active, &.stop-active {
                cursor: not-allowed;
                opacity: .6;
            }
        }
    }
}
