*, *::after, *::before {
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  background: linear-gradient(60deg, #4b6043, #ddead1);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
body .board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
body .board .cell.x::before, body .board .cell.x::after, body .board .cell.circle::before {
  background-color: black;
}
body .board.x .cell:not(.x):not(.circle):hover::before, body .board.x .cell:not(.x):not(.circle):hover::after, body .board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}
body .board.x .cell:not(.x):not(.circle):hover::before, body .board.x .cell:not(.x):not(.circle):hover::after,
body .board .cell.x::before, body .board .cell.x::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
body .board.x .cell:not(.x):not(.circle):hover::before, body .board .cell.x::before {
  transform: rotate(45deg);
}
body .board.x .cell:not(.x):not(.circle):hover::after, body .board .cell.x::after {
  transform: rotate(-45deg);
}
body .board .cell.circle::before, body .board .cell.circle::after, body .board.circle .cell:not(.x):not(.circle):hover::before, body .board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
body .board .cell.circle::before, body .board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
body .board .cell.circle::after, body .board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
body .board .cell {
  width: 100px;
  height: 100px;
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body .board .cell:first-child, body .board .cell:nth-child(2), body .board .cell:nth-child(3) {
  border-top: none;
}
body .board .cell:nth-child(3n+1) {
  border-left: none;
}
body .board .cell:nth-child(3n+3) {
  border-right: none;
}
body .board .cell:last-child, body .board .cell:nth-child(8), body .board .cell:nth-child(7) {
  border-bottom: none;
}
body .board .cell.x, body .board .cell.circle {
  cursor: not-allowed;
}
body .winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(21, 224, 21);
  font-weight: 600;
  font-size: 5rem;
}
body .winning-message button {
  font-size: 2.5rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 5px 0 rgba(255, 255, 255, 0.5);
  transition: 0.4s;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
body .winning-message button:hover {
  background-color: rgb(170, 169, 169);
}
body .winning-message button:active {
  box-shadow: none;
  transform: translateY(5px);
}
body .winning-message.show {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
